*{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#subhed{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    top: 500px;
    text-wrap: inherit;
    width: 300px;
    height: 70px;
    font-size: 18px;
    text-align: center;
    left: 30px;

}

#heading{
    text-align: center;
    font-size: 25px;
}

input{
    background-color: aliceblue;
    width: 300px;
    position: relative;
    left: 50px;
    height: 200px;
    border-radius: 20px;
}

input::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    text-align: justify;
}

button{
    position: relative;
    top: 12px;
    left: 125px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
    background-color: pink;
}

.material-symbols-outlined{
    background-color: pink;
}
nav{
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #F38097;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-weight: 600;
}

body {
  background-image: url('backg1.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

button:hover{
    font-size: 40px;
}